<!DOCTYPE html>
<head>
<link rel="stylesheet" href="/assets/stylec.css">
</head>
<body>
    <%- include('partials/nave') -%>
    <h1 style="text-justify: auto;">404 Page Doesn't exist</h1>
    <p>route not configured contact admin</p>
</body>


</html>