<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/assets/stylec.css">

   
</head>
<body>
    <%- include('partials/nave') -%>

    <h1 style="text-justify: auto;">This is a node js tutorial</h1>
    <p>Node js uses chrome v8 engine and executes codes asynchromously and non blocking</p>
</body>


</html>